#============= cmhw ==============
type display_sysfs, sysfs_type, file_type;
type vibeamp_sysfs, sysfs_type, file_type;

#============= Persist ==============
type persist_omadm_file, file_type;
type persist_telephony_file, file_type;

